* {
  padding: 0;
  margin: 0;
  list-style: none;
}
.box2 {
  position: fixed;
  width: 500px;
  height: 500px;
  background: darkgoldenrod;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: auto;
}
